* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --font-family: "Poppins";
  --mauvang: #ffb900;
  --mauden: #171100;
  --mauxam: #5f5b53;
}
/* Header */
.header {
  background-color: #fffcf4;
  z-index: 1;
  position: sticky;
  top: -28px;
}
a {
  text-decoration: none;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.main-content {
  min-width: calc(100% - 48);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
}
.nav li {
  font-size: 1.6rem;
  line-height: 28px;
  text-align: center;
  color: #5f5b53;
  padding: 8px 16px;
}
.nav li a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
}
.bth:hover {
  opacity: 0.9;
}
.btn {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  height: 50px;
  border-radius: 999px;
  background-color: #171100;
  padding: 7px 16px;
}
.header .btn-sing-up {
  width: 144px;
}
.header .btn-sing-up:hover {
  background-color: #ffffff;
  color: #171100;
}
.header .action {
  margin-left: 49px;
}
/* Hero */
.hero .body {
  display: flex;
}
.hero {
  padding: 56px;
  background-color: #fffcf4;
}
/* Main left */
.hero .media-block {
  position: relative;
  width: 570px;
  height: 685px;
}
.hero .hero-sumary {
  position: absolute;
  bottom: 48px;
  left: 300px;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background-color: #ffffff;
}
.hero .item {
  display: flex;
  margin: 24px 63px 24px 24px;
}
.hero .item .info {
  margin-left: 16px;
}
.item .labal {
  margin-bottom: 16px;
  color: #5f5b53;
}
.item .title {
  color: #171100;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.8rem;
  font-family: var(--font-family);
}
/* Main - left */
.hero .content-block {
  padding: 90px 128px 130px 135px;
  width: 470px;
  height: 558px;
}
.content-block .heading {
  width: 470px;
  height: 204px;
  font-family: Sen;
  font-weight: 700;
  font-style: Bold;
  font-size: 55.5px;
}
.content-block .desc {
  width: 470px;
  height: 90px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  /* line-height: 30px; */
  color: #5f5b53;
  padding-top: 22px;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .btn-seecourse {
  min-width: 155px;
  height: 61px;
  line-height: 46px;
  background-color: #ffb900;
}
.hero .btn-seecourse:hover {
  opacity: 70%;
}
.hero .wacth-video {
  display: flex;
  border: none;
  background: transparent;
  width: 202px;
  height: 40px;
  margin-left: 28px;
}
.hero .wacth-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  margin-top: 5px;
  cursor: pointer;
}
.hero .wacth-video .icon:hover {
  opacity: 70%;
}
.hero .wat {
  width: 148px;
  height: 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 30px;
  margin-top: 2px;
}
.hero .recent {
  margin-top: 48px;
  width: 186px;
  height: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #5f5b53;
}
.hero .cs {
  width: 400px;
  height: 100px;
  margin-top: 20px;
}
.hero .so {
  width: 173px;
  height: 54px;
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 4.4rem;
  line-height: 54px;
}
.hero .st {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 30px;
  padding-left: 8px;
}
#hh {
  margin-right: 28px;
}
.popular {
  width: 1170px;
  height: 800px;
  padding-top: 65px;
  margin-top: 135px;
  margin-left: 265px;
}
.popular .main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h2-eveling {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.8rem;
  line-height: 4.8rem;
}
.popular-top .desc {
  width: 458px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 30px;
  margin-top: 16px;
  color: #5f5b53;
}
.control {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 98px;
  height: 40px;
  gap: 18px;
}
.popular .control-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border: 1px solid #ffb900;
  border-radius: 999px;
  color: #ffb900;
}
.popular .control-btn:hover {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border: 1px solid #ffb900;
  border-radius: 999px;
  color: #ffffff;
  background-color: #ffb900;
}
/* Popular - bottom */
.main-bottom {
  margin-top: 55px;
  display: flex;
}
.main {
  border: 1px solid #e2dfda;
  border-radius: 12px;
  box-shadow: 0px 18px 36px 0px #0000000d;
}
.main .font {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  gap: 30px;
}
.main-bottom .main {
  width: 370px;
  height: 515px;
}
.main2 {
  margin: 0px 30px;
}
.main .heading-item3 {
  width: 159px;
  height: 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
}
.font .pic {
  color: #fea31b;
}
.main .get {
  width: 326px;
  height: 52px;
  padding-left: 22px;
  margin-top: 6px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--mauxam);
}
.main .mony-btn {
  margin: 22px 0px 0px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mony-btn .tien {
  width: 67px;
  height: 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--mauden);
}
.mony-btn .btn-booknow {
  width: 118px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  background-color: var(--mauvang);
  color: #ffffff;
  border-radius: 25px;
  border: none;
  margin-right: 22px;
}
