* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --font-family: "Poppins";
  --mauvang: #ffb900;
  --mauden: #171100;
  --mauxam: #5f5b53;
  --mautrang: #ffffff;
  --maukhoi: #bfbcb2;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}
/* Header */
.header {
  background-color: #fffcf4;
  z-index: 1;
  position: sticky;
  top: -28px;
}
a {
  text-decoration: none;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.main-content {
  min-width: calc(100% - 48);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
}
.nav li {
  font-size: 1.6rem;
  line-height: 28px;
  text-align: center;
  color: #5f5b53;
  padding: 8px 16px;
}
.nav li a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
}
.bth:hover {
  opacity: 0.9;
}
.btn {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  height: 50px;
  border-radius: 999px;
  background-color: #171100;
  padding: 7px 16px;
}
.header .btn-sing-up {
  width: 144px;
}
.header .btn-sing-up:hover {
  background-color: #ffffff;
  color: #171100;
}
.header .action {
  margin-left: 49px;
}
/* Hero */
.hero .body {
  display: flex;
}
.hero {
  padding: 56px;
  background-color: #fffcf4;
}
/* Main left */
.hero .media-block {
  position: relative;
  width: 570px;
  height: 685px;
}
.hero .hero-sumary {
  position: absolute;
  bottom: 48px;
  left: 300px;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background-color: #ffffff;
}
.hero .item {
  display: flex;
  margin: 24px 63px 24px 24px;
}
.hero .item .info {
  margin-left: 16px;
}
.item .labal {
  margin-bottom: 16px;
  color: #5f5b53;
}
.item .title {
  color: #171100;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.8rem;
  font-family: var(--font-family);
}
/* Main - left */
.hero .content-block {
  padding: 90px 128px 130px 135px;
  width: 470px;
  height: 558px;
}
.content-block .heading {
  width: 470px;
  height: 204px;
  font-family: Sen;
  font-weight: 700;
  font-style: Bold;
  font-size: 55.5px;
}
.content-block .desc {
  width: 470px;
  height: 90px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  /* line-height: 30px; */
  color: #5f5b53;
  padding-top: 22px;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .btn-seecourse {
  min-width: 155px;
  height: 61px;
  line-height: 46px;
  background-color: #ffb900;
}
.hero .btn-seecourse:hover {
  opacity: 70%;
}
.hero .wacth-video {
  display: flex;
  border: none;
  background: transparent;
  width: 202px;
  height: 40px;
  margin-left: 28px;
}
.hero .wacth-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  margin-top: 5px;
  cursor: pointer;
}
.hero .wacth-video .icon:hover {
  opacity: 70%;
}
.hero .wat {
  width: 148px;
  height: 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 30px;
  margin-top: 2px;
}
.hero .recent {
  margin-top: 48px;
  width: 186px;
  height: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #5f5b53;
}
.hero .cs {
  width: 400px;
  height: 100px;
  margin-top: 20px;
}
.hero .so {
  width: 173px;
  height: 54px;
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 4.4rem;
  line-height: 54px;
}
.hero .st {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 30px;
  padding-left: 8px;
}
#hh {
  margin-right: 28px;
}
/* Popular */
.popular {
  width: 1170px;
  height: 800px;
  padding-top: 65px;
  margin-top: 135px;
  margin-left: auto;
  border-radius: 0;
  margin-right: auto;
}
.popular .main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h2-eveling {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.8rem;
  line-height: 4.8rem;
}
.popular-top .desc {
  width: 458px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 30px;
  margin-top: 16px;
  color: #5f5b53;
}
.control {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 98px;
  height: 40px;
  gap: 18px;
}
.popular .control-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border: 1px solid #ffb900;
  border-radius: 999px;
  color: #ffb900;
}
.popular .control-btn:hover {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border: 1px solid #ffb900;
  border-radius: 999px;
  color: #ffffff;
  background-color: #ffb900;
}
/* Popular - bottom */
.main-bottom {
  margin-top: 55px;
  display: flex;
}
.main1,
.main2,
.main3 {
  border: 1px solid #e2dfda;
  border-radius: 12px;
  box-shadow: 0px 18px 36px 0px #0000000d;
  flex: 1;
}
.main .font {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  gap: 30px;
}
.main-bottom .main {
  width: 370px;
  height: 515px;
}
.main2 {
  margin: 0px 30px;
}
.main .heading-item3 {
  width: 159px;
  height: 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
}
.font .pic {
  color: #fea31b;
}
.main .get {
  width: 326px;
  height: 52px;
  padding-left: 22px;
  margin-top: 6px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--mauxam);
}
.main .mony-btn {
  margin: 22px 0px 0px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mony-btn .tien {
  width: 67px;
  height: 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--mauden);
}
.mony-btn .btn-booknow {
  width: 118px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  background-color: var(--mauden);
  color: #ffffff;
  border-radius: 25px;
  border: none;
  margin-right: 22px;
}
.mony-btn .btn-booknow:hover {
  color: var(--mauden);
  background-color: var(--mauvang);
}
/* feedback */
.feedback {
  margin-top: 200px;
  height: 380px;
  background-color: #2e2100;
}
.feedback .container-fb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 241px;
}
/* feedback - left */
.container-fb .feedback-left {
  width: 159px;
  height: 188px;
  margin-top: 96px;
  margin-left: 135px;
}
.container-fb .img {
  width: 72px;
  height: 72px;
}
.feedback-left .heading-h3 {
  width: 130px;
  height: 34px;
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 1.9rem;
  color: #f7f7f7;
  padding-top: 18px;
}
.feedback-left .hs {
  width: 159px;
  height: 26px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #bfbcb2;
  padding-top: 4px;
}
.feedback-left .dots {
  width: 30px;
  height: 6px;
  margin-top: 28px;
  display: flex;
  gap: 6px;
}
.feedback-left .dot {
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 50%;
}
.dot:hover {
  background-color: var(--mauvang);
}
/* feedback right */
.feedback-right {
  margin-top: 96px;
  margin-right: 135px;
}
.feedback-right .note {
  width: 770px;
  height: 188px;
}
.feedback-right img {
  width: 30px;
  height: 28px;
}
.feedback-right .feed {
  width: 740px;
  height: 160px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Italic;
  font-size: 26px;
  line-height: 40px;
  color: #ffffff;
}
/* learner */
.learner {
  height: 483px;
  margin-top: 200px;
}
.learner .learner-note {
  width: 1170px;
  height: 438px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  gap: 130px;
}
.learner-left {
  width: 570px;
  height: 438px;
  /* padding-left: 56px; */
}
.learner-left .learner-img {
  display: flex;
  gap: 30px;
}
.learner-left .img-bottom {
  margin-top: 34px;
}
.learner-left .img-top {
  margin-bottom: 34px;
}
.learner-note .learner-right {
  width: 470px;
  height: 322px;
}
.learner-right {
  /* margin-left: 135px; */
  margin-top: 58px;
}
.learner-right .hea {
  width: 470px;
  height: 96px;
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 34px;
}
.learner-right .lorem {
  width: 458px;
  height: 84px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 28px;
  color: var(--mauxam);
  margin-top: 16px;
}
.learner-right .lorem:last-child(2) {
  margin-top: 16px;
}
.btn-sign-up {
  width: 137px;
  height: 50px;
  border-radius: 26px;
  border: none;
  background: transparent;
  background-color: var(--mauvang);
  color: #ffffff;
  font-family: var(--font-family);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.learner-right .btn-sign-up:hover {
  background-color: var(--mauden);
  color: var(--mautrang);
  cursor: pointer;
}
/* Cta-sessiom */
.cta-session {
  height: 440px;
  margin-top: 200px;
}
.cta-session .cta-session-main {
  width: 1170px;
  height: 440px;
  display: flex;
  gap: 130px;
  /* align-items: center; */
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.cta-session .cta-session-left {
  width: 570px;
  height: 298px;
  border-radius: 26px;
}
.cta-session-main .head-h {
  width: 570px;
  height: 144px;
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 34px;
  line-height: 48px;
  margin-top: 71px;
}
.cta-session-left .thea {
  width: 570px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 28px;
  color: var(--mauxam);
  margin-top: 16px;
}
.cta-session-left .btn-sign-up {
  margin-top: 32px;
}
.cta-session-left .btn-sign-up:hover {
  background-color: var(--mauden);
  color: var(--mautrang);
  cursor: pointer;
}
.cta-session-right {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}
.oub-blog {
  margin-top: 200px;
  height: 878px;
  background: #fffcf4;
}
.oub-blog-content {
  height: 878px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oub-blog-content .uob-top {
  width: 448px;
  height: 120px;
  margin-top: 96px;
  margin: o auto;
  text-align: center;
}
.oub-blog-content .head4 {
  width: 154px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  margin-left: 147px;
}
.oub-blog-content .trant {
  width: 448px;
  height: 56px;
  padding-top: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: var(--mauxam);
}
.oub-bottom {
  width: 100%;
  margin-top: 55px;
  height: 607px;
}
.oub-bottom-main {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.oub-bottom-main .oub-content {
  width: 370px;
  height: 467px;
  border: 1px solid #ffffff;
  box-shadow: 0px 16px 32px 0px #0000000d;
  border-radius: 16px;
  background-color: #ffffff;
}
.oub-content .info-blog {
  width: 330px;
  height: 169px;
  margin-left: 20px;
}
.info-blog .setember {
  display: flex;
  gap: 5px;
  color: var(--mauxam);
  margin-top: 20px;
}
.info-blog .hr {
  display: inline-block;
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  border: 1px solid #e2dfda;
  margin-top: 12px;
}
.info-blog .info-p {
  font-family: var(--font-family);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 28px;
  color: var(--mauden);
  margin-top: 12px;
}
.info-blog .btn-sign-up {
  margin-top: 12px;
  background-color: var(--mauden);
}
.info-blog .btn-sign-up:hover {
  background-color: var(--mauvang);
  color: var(--mautrang);
}
.oub-blog-content .dots {
  width: 30px;
  height: 6px;
  display: flex;
  gap: 6px;
  margin-bottom: 96px;
}
.oub-blog-content .dot {
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 50%;
}
.dot:hover {
  background-color: var(--mauvang);
}
/* Footer */
.footer-lesson {
  background-color: #2e2100;
}
.footer-lesson .footer-main {
  width: 1170px;
  height: 428px;
  margin-left: auto;
  margin-right: auto;
}
.fotter-content .fotter-item {
  display: flex;
  align-items: center;
}
.fotter-item .less {
  width: 267px;
  height: 163px;
  margin-top: 34px;
}
.fotter-item .les-p {
  width: 267px;
  height: 78px;
  margin-top: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 26px;
  color: var(--maukhoi);
}
.fotter-item .socical {
  width: 111px;
  height: 15px;
  gap: 18px;
  margin-top: 18px;
  display: flex;
}
.fotter-item .company {
  width: 130px;
  height: 211px;
  margin: 96px 0px 0px 145px;
}
.fotter-item .company-p {
  width: 82px;
  height: 28px;
  font-family: var(--font-family);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 28px;
  color: var(--mautrang);
}
.fotter-item .hr {
  width: 130px;
  height: 1px;
  border: 1px solid #59554b;
  margin-top: 14px;
}
.fotter-item .aufa {
  width: 63px;
  height: 26px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 26px;
  color: var(--maukhoi);
  margin-top: 28px;
}

.fotter-item .afol {
  width: 77px;
  height: 26px;
  margin-top: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 26px;
  color: var(--maukhoi);
}
.fotter-item .ln {
  width: 83px;
  height: 26px;
}
.fotter-item .tc {
  width: 137px;
  height: 26px;
}
.fotter-item .support {
  margin-top: 96px;
  width: 137px;
  height: 211px;
  padding-left: 130px;
}
.fotter-item .address {
  margin-top: 84px;
  width: 231px;
  height: 199px;
  padding-left: 251px;
}
.fotter-item .address-p {
  width: 67px;
  height: 28px;
  font-family: var(--font-family);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 28px;
  color: var(--mautrang);
}
.fotter-item .location {
  width: 231px;
  height: 52px;
  font-family: var(--font-family);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 26px;
  color: var(--mautrang);
}
.fotter-item .location .sp-location {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 26px;
  color: var(--maukhoi);
}
.fotter-item .email-iphone {
  width: 185px;
  height: 26px;
  font-family: var(--font-family);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 26px;
  color: var(--mautrang);
  margin-top: 12px;
}
.fotter-item .sp-ei {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 26px;
  color: var(--maukhoi);
}
.fotter-bottom .hr2 {
  width: 1170px;
  height: 1px;
  border: 1px solid var(--mauxam);
  margin: 38px 0px 28px 0px;
}
.fotter-bottom .fotter-bottom-p {
  width: 357px;
  height: 26px;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--maukhoi);
  margin-top: 38px;
  margin: 0 auto;
}
