.box1 {
  background-color: rgb(25, 105, 60);
  grid-area: header;
}
.box2 {
  background-color: rgb(31, 137, 230);
  grid-area: nav;
}

.box3 {
  background-color: rgb(150, 107, 28);
  grid-area: sabar;
}
.box4 {
  background-color: rgb(230, 73, 99);
  grid-area: footer;
}
.box5 {
  background-color: rgb(45, 222, 45);
  grid-area: content;
}
.box6 {
  background-color: rgb(72, 58, 21);
  grid-area: main;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.container {
  display: grid;
  grid-template-areas:
    "header header nav nav nav"
    "header header sabar sabar content"
    "footer footer sabar sabar main";
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}
