.box {
  height: 100px;
  width: 100px;
  background-color: yellow;
  transition: 2s;
}
.box:hover {
  transform: rotate(360deg) skew(0deg) translate(9px, 9px);
  -webkit-transform: rotate(360deg) skew(0deg) translate(9px, 9px);
  -moz-transform: rotate(360deg) skew(0deg) translate(9px, 9px);
}
