.mes-bottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  /* color: #0086ff; */
}
.mes-bottom a {
  color: #0086ff;
}
.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  /* padding: 10px 0; */
}
.nav-top ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav-top ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

h1 {
  margin-top: 60px;
}
